nav(role="navigation")
  ul.menu
    li.menu-item
      a(href="#") Help
      ul.sub-menu
        li.menu-item
          a(href="https://github.com/kunruch/mmnotes/issues/new", target="_blank") Report an Issue
        li.menu-item
          a(href="https://github.com/kunruch/mmnotes/issues", target="_blank") View all Issues
        li.menu-item
          a(href="/contact/") Contact
        li.menu-item
          a(href="/about/") About
    li.menu-item
      a(href="https://github.com/kunruch/mmnotes/", target="_blank")
        | <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg>
    li.menu-item
      a(href="https://twitter.com/kunruch", target="_blank")
        | <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>