extends ./../layouts/_layout-page.pug

block vars
    - var title = 'About'
    - var description = 'Learn about MMNotes, get to know people behind this app and find out guidelines for using MMNotes logo and name.'

block page-content